

<div class="reservations container">
  <h3>Upcoming Reservations:</h3>

  <table class="table upcoming-reservations">
    <tr>
      <th class="date"><b>Date and Time</b></th>
      <th class="guests"><b>Guests</b></th>
      <th class="restaurant-name"><b>Restaurant</b></th>
    </tr>

  <% @user.reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.date_and_time.strftime("%B %d %I:%M %P") %></td>
      <td><%= reservation.party_size %></td>
      <td><%= link_to reservation.restaurant.name, restaurants_path(@restaurant) %></td>
    </tr>

  <% end %>

  </table>

  <%= link_to 'Restaurants', restaurants_path %>
</div>
