<div class="title container">
  <h1>Restaurants</h1>
</div>

<div class="search container">
  <button class="btn find-nearbys">Find Nearby Restaurants!</button></br>

  <h3>Find Restaurants near:</h3>

  <%= form_tag restaurants_path, method: :get do  %>
      <%= text_field_tag :search_address, params[:search_address], placeholder: "eg 123 Yonge Street, Toronto", size: 75 %>
      <%= submit_tag "go!", :class => 'btn btn-primary' %>
    <% end %>
</div>

<section id="restaurants-list">
<div class="container">
  <%= render 'restaurants' %>
</div>
</section>
