// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Index */

.title {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.search {
  padding: 10px;
}

.index {
  background-color: white;
  border-radius: 5px; /* not working */
}

.restaurant {
  background-color: white;
  padding: 10px;
  border-top: 1px solid #EBEBE6;
}

.bold {
  font-weight: bold;
}

/* Show */

.restaurant-header {
  background-color: #454545;
  color: white;
  height: 150px;
}

.reservation {
  background-color: white;
  margin-top: 30px;
  border-radius: 5px;
}

.search {
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
}

.find-nearbys {
  background-color: #FF6600;
}

.about {
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
}

h3 {
  display: inline-block;
}

.restaurant-header img {
  margin-top: 20px;
  border-radius: 10px;
}
